<h1>Stupid Coaching</h1>

<div>
  <%= params[:question] %>
  <p>- you</p>
</div>

<div>
  <%= @answer %>
  <p>- your coach</p>
</div>

<%= link_to "Ask a new question", "http://localhost:3000/ask" %>
